@font-face {
    font-family: now;
    src: url(../media/fonts/NowLight.otf) format('opentype');
}

@font-face {
    font-family: cardinal;
    src: url(../media/fonts/Cardinal.ttf) format('truetype');
}

body {
    background-color: #061A40;
    color: var(--text-color);
}


h1 {
    font-family: cardinal;
    font-size: 50pt;
    color: #b9d6f2;
}

p,
a {
    font-family: now;
    font-size: 12pt;
    color: #F7F7F7;
}

a {
    color: #b9d6f2;
}

h1,
p {
    text-align: center;
}

section {
    margin: 300px auto;
    padding: 2rem;

    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}